* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f6f3;
    color: #2f3a32;
    line-height: 1.6;

    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
}


header {
    background-color: #cfd8cc;
    text-align: center;
    padding: 40px 20px;
}

header h1 {
    font-size: 2rem;
}

header p {
    margin-top: 10px;
}

nav {
    display: flex;
    justify-content: center;
    gap: 20px;
    background-color: #b7c2b3;
    padding: 12px;
}

nav a {
    text-decoration: none;
    color: #2f3a32;
    font-weight: bold;
}

nav a:hover {
    text-decoration: underline;
}

.projects-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 25px;
    padding: 40px 20px;
}

.project-card {
    background-color: #ffffff;
    border-radius: 16px;
    padding: 15px;
    text-align: center;
}

.project-card img {
    width: 100%;
    border-radius: 12px;
    margin-bottom: 10px;
}

.image-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(90px, 1fr));
    gap: 10px;
    margin: 15px 0;
}

.image-grid img {
    width: 100%;
    border-radius: 10px;
}

footer {
    text-align: center;
    padding: 20px;
    background-color: #cfd8cc;
}
